body {
    background-color: aqua;
}
li, a, button{
    font-size: 18px;
    color: blueviolet;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: black;
}